@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(248, 252, 229);
  text-align: center;
  color: rgb(4, 128, 0);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://images.stockcake.com/public/3/a/3/3a3888fe-7ce3-45e5-be8b-2a70018fb280_large/magical-butterfly-garden-stockcake.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



